<h1> Billboards </h1>
<%= link_to "New Billboard Fun Stuff", new_billboard_path %>
<p><%  @billboards.each do |b| %></p>
  <%= link_to b.name, billboard_path(b.id)  %>
  <li>fun stuff</li>
    <%= link_to 'Delete this Billboard', billboard_path(b.id), method: :delete %>
  <% end %>